
.externalItem {
    & > .copy {
        & > * {
            flex: 1 1 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--muted);
            opacity: 0.5;
            transition: transform 0.1s, color 0.1s, opacity 0.1s;

            & > .icon {
                height: 1rem;
            }
        }

        &:hover > * {
            color: inherit;
            opacity: 1;
        }
    }

    & > .copy.copySuccess {
        --anim-color: green;
        animation-name: scaleAndColor;
    }

    & > .copy.copyFail {
        --anim-color: red;
        animation-name: scaleAndColor;
    }
}

@keyframes scaleAndColor {
0% {
    transform: scale(1);
    color: inherit;
}
50% {
    transform: scale(1.2);
    color: var(--anim-color);
}
100% {
    transform: scale(1);
    color: inherit;
}
}
