
.externalItem {
    & > .copy.copyFail {
        --anim-color: red;
        animation-name: scaleAndColor;
    }
}

@keyframes scaleAndColor {
0% {
    transform: scale(1);
    color: inherit;
}
50% {
    transform: scale(1.2);
    color: var(--anim-color);
}
100% {
    transform: scale(1);
    color: inherit;
}
}
