
.externalItem {
    --paddingHorizontal: 0.5rem;
    margin: calc(var(--gap) * -0.5) calc(var(--paddingHorizontal) * -1);

    display: flex;
    flex-direction: row;

    & > .external {
        padding: calc(var(--gap) * 0.5) var(--paddingHorizontal);
        margin-left: calc(var(--paddingHorizontal) * -1);
        padding-left: var(--paddingHorizontal);

        display: flex;
        flex-direction: row;
        flex: 1 1 0;
        color: inherit;
        align-items: center;
        /*text-decoration: none;*/
        gap: 0.5rem;
        line-height: 1;
        word-break: break-all;

        & > * {
            display: flex;
            gap: 0.5rem;
            & > .icon {
                height: 1.1rem;
                width: 1.1rem;
            }
        }

        & > * {
            transform: translateX(0px);
            color: black;
            transition: transform 0.1s, color 0.1s;
        }
        &:hover > * {
            transform: translateX(0.2rem);
            color: var(--primary-darker);
        }
    }
    & > .copy {
        background: none;
        border: none;
        padding: 0px;
        margin: 0px;

        cursor: pointer;
        display: flex;

        color: var(--primary-darker);
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);

        & > * {
            flex: 1 1 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--muted);
            opacity: 0.5;
            transition: transform 0.1s, color 0.1s, opacity 0.1s;

            & > .icon {
                height: 1rem;
            }
        }

        &:hover > * {
            color: inherit;
            opacity: 1;
        }
    }

    & > .copy.copySuccess {
        --anim-color: green;
        animation-name: scaleAndColor;
    }

    & > .copy.copyFail {
        --anim-color: red;
        animation-name: scaleAndColor;
    }
}

@keyframes scaleAndColor {
0% {
    transform: scale(1);
    color: inherit;
}
50% {
    transform: scale(1.2);
    color: var(--anim-color);
}
100% {
    transform: scale(1);
    color: inherit;
}
}
