@import "tailwindcss";

/*
flex-1 !== flex: 1 1 0;
bc flex-basis is 0%, not 0. And they are different because css.
*/

@theme {
    --color-bg:#fafafa;
    --color-primary: #3cb553;
    --color-primary-darker: #0d641e;
    --color-muted: #707070;
}

:root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-bg);

    --primary: #3cb553;
    --primary-darker: #0d641e;
    --muted: #707070;
    --bg:#fafafa;
}

body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.my-header-link {
    & > * {
        transform: translateY(0px);
        color: black;
        transition: transform 0.1s, color 0.1s;
    }
    &:hover > * {
        transform: translateY(-0.2rem);
        color: var(--primary-darker);
    }
}

.my-list-link {
    & > * {
        transform: translateX(0px);
        color: black;
        transition: transform 0.1s, color 0.1s;
    }
    &:hover > * {
        transform: translateX(0.2rem);
        color: var(--primary-darker);
    }
}

.my-order-link {
    & > * {
        transform: translateX(0px);
        color: black;
        transition: transform 0.1s, color 0.1s;
    }
    &:hover > * {
        transform: translateX(0.2rem);
        color: var(--primary-darker);
    }
}
