.dialogContainer {
    & > .content {

        & > .video {
        }
        & > .inlineCloseButton {
        }

    }

    & > .closeButton {
    }
}

.closeIcon {
}

.contactBody {
    & > * {
        & > .title {
        }
    }
}

.headerLink {
}

@media (max-width: 50rem) {
    .dialogContainer {
        & > .content {
            & > .video {
            }
            & > .longDesc {
            }
            & > .inlineCloseButton {
            }
            &.vertical {
                flex-direction: column;
            }
            &.vertical > .video {
                height: unset;
            }
        }
    }
}

.contactList > * {
    --gap: 1.5rem !important;
}

@media (max-width: 40rem) {
    .categories {
        align-items: stretch;
    }
}

.preloadImage {
    position: absolute;
    width: 0px;
    height: 0px;
}

@keyframes hover-trigger {
  from {}
  to {}
}

@keyframes slide-to-right {
to {
    transform: translateX(0.3rem);
    opacity: 0;
}
}
@keyframes slide-to-left {
to {
    transform: translateX(-0.3rem);
    opacity: 0;
}
}

@keyframes slide-from-right {
from {
    transform: translateX(0.3rem);
    opacity: 0;
}
}

@keyframes slide-from-left {
from {
    transform: translateX(-0.3rem);
    opacity: 0;
}
}

:active-view-transition-type(item) {
    :root {
        view-transition-name: none;
    }
    .itemAnimation {
        view-transition-class: item;
        view-transition-name: var(--viewTransitionName);
    }
}

:active-view-transition-type(screen) {
    :root {
        view-transition-name: none;
    }
    .screenAnimation {
        view-transition-class: screen;
        view-transition-name: var(--viewTransitionName);
    }

    /* .screen doesn't work for some reason */

    &:active-view-transition-type(left) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
        }
    }

    &:active-view-transition-type(right) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
        }
    }
}

.dialog[open] {
    &::backdrop {
        background: #000000a0;
    }
    &:modal {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        padding: 0px;
        overflow-y: scroll;
        overflow-x: auto;
    }
}
