.unbutton {
    background: none;
    border: none;
    text-align: left;
    font-size: unset;
}

/*@font-face {
  font-family: 'DejaVu Sans';
  src: url('./DejaVuSans.ttf');
}*/

:root {
    --bg:#fafafa;
    overflow: hidden;
}

body {
    margin: 0px;
    background: var(--bg);
}

.app {
    overflow-y: scroll;

    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    color: black;
    --side-width: 14rem;
    --muted: #707070;

    /* I hope CSS will learn how to concatenate strings until 2035 */
    --primary: #3cb553;
    --primary-darker: #0d641e;

    /*
        100% chrome bug. Nothing overflows, but we will make a scrollbar
        that scrolls and shows absolutely nothing. And then ADDING padding
        removes the scrollbar...
    */
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    font-family: 'Noto Sans';
    line-height: 1;
    font-size: 1.1rem;
    display: flex;
    padding: 1rem 1rem;
    --gap: 2rem;
    gap: var(--gap);
    margin-bottom: 2rem;

    & > .headerBord {
        flex: 1 0 0;
    }
    & > .headerCent {
        display: flex;
        justify-content: center;
        gap: var(--gap);

        & > * {
            margin: -1rem calc(var(--gap) * -0.5);
            padding: 1rem calc(var(--gap) * 0.5);
                cursor: pointer;
            & > * {
                transform: translateY(0px);
                color: black;
                transition: transform 0.1s, color 0.1s;
            }
            &:hover > * {
                transform: translateY(-0.2rem);
                color: var(--primary-darker);
            }
        }
    }
}

.footer {
    font-family: 'Noto Sans';
    line-height: 1;
    font-size: 0.9rem;
    color: var(--muted);
    display: flex;
    padding: 2rem 1rem 1rem 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    & > * > a {
        color: var(--muted);
    }
}

.body {
    background: var(--bg);
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}

.appSpacer {
    flex-shrink: 1;
    flex-basis: var(--side-width);
}

.categories {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 0px 1rem;
}

.order {
    min-width: var(--side-width);
    width: var(--side-width);
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    padding: 0rem 0.5rem 2rem 0.5rem;

    & > * {
        position: sticky;
        top: 2rem;
        display: flex;
        gap: 1.3rem;
        flex-direction: column;

        & > .title {
            font-size: 1.1rem;
        }
        & > .orderList {
            display: flex;
            flex-direction: column;
            & > .title {
                color: var(--muted);
                font-size: 0.9rem;
                text-align: right;
                line-height: 1;
            }
            & > .list {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                --gap: 0.7rem;
                gap: var(--gap);

                & > .orderItem {
                    font-size: 0.9rem;
                    line-height: 1.25rem;
                    font-family: 'Roboto Condensed';

                    margin: 0rem -0.5rem calc(var(--gap) * -1) -2rem;
                    padding: 0rem 0.5rem var(--gap) 2rem;
                    & > * {
                        transform: translateX(0px);
                        color: black;
                        transition: transform 0.1s, color 0.1s;
                    }
                    &:hover > * {
                        transform: translateX(0.2rem);
                        color: var(--primary-darker);
                    }
                }
            }
        }
    }
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > .title {
        font-family: 'Noto Sans';
        font-size: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }
    & > .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem 0.5rem;
    }
}

.cardTransitionBackground {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
}

.blankCardTransition {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    & > * {
        position: relative;
        width: 20rem;
        height: 30rem;
    }
}

.card {
    & > * {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;

        & > .content {
            display: flex;
            justify-content: center;
            & > .content {
                display: flex;
                flex-direction: column;
                border-radius: 1rem;

                padding: 2rem 1rem 1rem 1rem;
                border: 0.3rem solid transparent;
                transform: translateY(0px);
                background: transparent;
                --dur: 0.3s;
                transition: transform var(--dur),
                    border-color var(--dur),
                    background var(--dur);

                & > * {
                    width: 16rem;
                }

                & > .preview {
                    display: grid;
                    aspect-ratio: 16 / 9;
                    border-radius: 0.4rem;
                    box-shadow: 0px 0px 0.4rem 0px #00000005;
                    & > * {
                        /* Chrome doesn't respect aspect-ratio above for some reason */
                        aspect-ratio: 16 / 9;
                        grid-row: 1;
                        grid-column: 1;
                        border-radius: 0.4rem;
                        width: 100%;
                        height: 100%;
                    }
                    & > .image {
                        object-fit: cover;
                    }

                }

                & > .title {
                    margin-top: 0.6rem;
                    margin-bottom: 0.2rem;
                    font-family: 'Noto Sans';
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #121505;
                }

                & > .desc {
                    font-family: 'Noto Sans';
                    font-size: 0.9rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: var(--muted);
                    height: calc(0.9rem * 1.5 * 2);
                    overflow: hidden;
                }
            }
        }
    }

    &:hover {
        & > * > .content > .content {
            transform: translateY(-0.2rem);
        }
        &::before {
            content: '';
            animation: hover-trigger 0.001s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes hover-trigger {
  from {}
  to {}
}

@keyframes slide-to-right {
to {
    transform: translateX(0.3rem);
    opacity: 0;
}
}
@keyframes slide-to-left {
to {
    transform: translateX(-0.3rem);
    opacity: 0;
}
}

@keyframes slide-from-right {
from {
    transform: translateX(0.3rem);
    opacity: 0;
}
}

@keyframes slide-from-left {
from {
    transform: translateX(-0.3rem);
    opacity: 0;
}
}

:active-view-transition-type(item) {
    :root {
        view-transition-name: none;
    }
    .itemAnimation {
        view-transition-class: item;
        view-transition-name: var(--viewTransitionName);
    }
}

:active-view-transition-type(screen) {
    :root {
        view-transition-name: none;
    }
    .screenAnimation {
        view-transition-class: screen;
        view-transition-name: var(--viewTransitionName);
    }

    /* .screen doesn't work for some reason */

    &:active-view-transition-type(left) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
        }
    }

    &:active-view-transition-type(right) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
        }
    }
}

.dialog[open] {
    background: none;
    border: 0px solid transparent;

    &::backdrop {
        background: #000000a0;
    }
    &:modal {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        padding: 0px;
        overflow-y: scroll;
        overflow-x: auto;
    }
}
.dialogContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .content {
        position: relative;
        width: max(60rem, 66%);
        max-width: calc(100% - 2rem);

        flex-grow: 1;
        margin: 1rem 0rem;
        border-radius: 1rem;
        overflow: hidden;
        background: white;
        display: flex;
        flex-direction: column;

        & > .longDesc {
            flex-grow: 1;
            margin: 2rem 2rem;
            font-family: 'Noto Sans';
            display: flex;
            flex-direction: column;
        }
        & > .video {
            aspect-ratio: 16 / 9;
            & > * {
                width: 100%;
                height: 100%;
            }
        }
        & > .inlineCloseButton {
            display: none;
            top: 1rem;
        }

        &.vertical {
            flex-direction: row;
        }
        &.vertical > .video {
            aspect-ratio: 9 / 18;
            height: calc(100vh - 2rem);
        }
    }

    & > .closeButton {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 3rem;
        & > .closeIcon {
            position: fixed;
        }
    }
}

.closeIcon {
    & > * {
        color: white;
        width: 2rem;
        opacity: 0.8;
    }
}

.contactBody {
    flex-grow: 1;
    background: var(--bg);
    display: flex;
    justify-content: center;
    min-width: max-content;

    & > * {
        display: flex;
        flex-direction: column;
        max-width: 50rem;
        gap: 1rem;

        & > .title {
            font-family: 'Lato';
            font-size: 1.5rem;
        }
    }
}

.headerLink {
    text-decoration: none;
}

@media (max-width: 75rem) {
    .category > .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .dialogContainer > .content {
        width: 40rem;
    }
}

@media (max-width: 50rem) {
    .header {
        flex-direction: column;
        --gap: 1.5rem;
    }
    .headerBord {
        display: flex;
        justify-content: center;
    }

    .body {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

     .appSpacer, .headerSpacer {
        display: none;
    }

    .order {
        display: flex;
        justify-content: center;
        min-width: unset;
        width: unset;
    }

    .dialogContainer {
        & > .closeButton {
            display: none;
        }
        & > .content {
            width: unset;
            max-width: 100%;
            border-radius: 0px;
            margin: 0px;
            & > .video {
                margin: 0px 1rem;
            }
            & > .longDesc {
                flex-grow: 1;
                margin: 1rem;
            }
            & > .inlineCloseButton {
                padding: 1rem 1rem 1rem 1rem;
                display: flex;
                justify-content: flex-end;
                & > .closeIcon {
                    margin: -2rem;
                    padding: 2rem;
                    & > * {
                        color: black;
                    }
                }
            }
            &.vertical {
                flex-direction: column;
            }
            &.vertical > .video {
                height: unset;
            }
        }
    }

    .order {
        & > * {
            gap: 1.7rem;
            & > .title {
                text-align: center;
                font-size: 1.2rem;
            }
            & > .orderList {
                & > .list {
                    --gap: 1rem !important;
                    & > .orderItem {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.contactList > * {
    --gap: 1.5rem !important;
}

@media (max-width: 40rem) {
    .body {
        align-items: stretch;
    }
    .categories {
        align-items: stretch;
    }
    .category {
        gap: 0.5rem;
        & > .content {
            grid-template-columns: 1fr;
        }
    }
    .card > * > .content {
        /*padding-top: 0.5rem;
        padding-bottom: 0.5rem;*/
        margin-left: calc((1rem + 8px) * -1);
        margin-right: calc((1rem + 8px) * -1);

        /*padding-left: calc(1rem + 8px);
        padding-right: calc(2rem + 8px);*/
        & > .content > * {
            width: calc(100vw - 6rem);
        }
    }
}

.preloadImage {
    position: absolute;
    width: 0px;
    height: 0px;
}
