:root {
    overflow-y: scroll;
}

.app {
    --bg:#fafafa;

    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: black;
    --side-width: 12rem;
    --muted: #707070;

    /* I hope CSS will learn how to concatenate strings until 2035 */
    --primary: #3cb553;
    --primary-a80: #3cb55380;
    --primary-a05:#3cb55310;
    --primary-darker: #0d641e;

    /*
        100% chrome bug. Nothing overflows, but we will make a scrollbar
        that scrolls and shows absolutely nothing. And then ADDING padding
        removes the scrollbar...
    */
    padding-right: 1rem;
}

.header {
    font-family: 'Noto Sans';
    line-height: 1;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    --gap: 2rem;
    gap: var(--gap);
    margin-bottom: 2rem;
    & > * {
        margin: -1rem calc(var(--gap) * -0.5);
        padding: 1rem calc(var(--gap) * 0.5);
        cursor: pointer;
        & > * {
            transform: translateY(0px);
            color: black;
            transition: transform 0.1s, color 0.1s;
        }
        &:hover > * {
            transform: translateY(-0.2rem);
            color: var(--primary-darker);
        }
    }
}

.body {
    background: var(--bg);
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}

.appSpacer {
    flex-shrink: 1;
    flex-basis: var(--side-width);
}

.categories {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: max-content;
    gap: 4rem;
    align-items: center;
    padding: 0px 1rem;
}

.order {
    min-width: var(--side-width);
    width: var(--side-width);
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    padding: 0rem 0.5rem 2rem 0.5rem;

    & > * {
        position: sticky;
        top: 2rem;
        display: flex;
        gap: 1.3rem;
        flex-direction: column;

        & > .title {
            font-size: 1.1rem;
        }
        & > .orderList {
            display: flex;
            flex-direction: column;
            & > .title {
                color: var(--muted);
                font-size: 0.9rem;
                text-align: right;
                line-height: 1;
            }
            & > .list {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                font-size: 0.9rem;
                line-height: 1.25rem;
                --gap: 0.4rem;
                gap: var(--gap);
                & > * {
                    margin: 0rem -2rem calc(var(--gap) * -0.5) -2rem;
                    padding: 0rem 2rem calc(var(--gap) * 0.5) 2rem;
                    & > * {
                        transform: translateX(0px);
                        color: black;
                        transition: transform 0.1s, color 0.1s;
                    }
                    &:hover > * {
                        transform: translateX(0.2rem);
                        color: var(--primary-darker);
                    }
                }
            }
        }
    }
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > .title {
        font-family: 'Roboto Condensed';
        font-size: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }
    & > .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem 0.5rem;
    }
}

.cardTransitionBackground {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    & > .content {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;

        padding: 2rem 1rem 1rem 1rem;
        border: 0.3rem solid transparent;
        transform: translateY(0px);
        background: transparent;
        --dur: 0.3s;
        transition: transform var(--dur),
            border-color var(--dur),
            background var(--dur);

        & > * {
            width: 16rem;
        }

        & > .preview {
            aspect-ratio: 16 / 9;
            border-radius: 0.4rem;
            box-shadow: 0px 0px 0.4rem 0px #00000005;
        }
        & > .title {
            margin-top: 0.4rem;
            font-family: 'Noto Sans';
            font-size: 1rem;
            font-weight: 700;
            line-height: 2;
            color: #121505;
        }

        & > .desc {
            font-family: 'Noto Sans';
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1.5;
            color: var(--muted);
            height: calc(0.9rem * 1.5 * 2);
            overflow: hidden;
        }
    }

    &:hover {
        & > .content {
            border: 0.3rem solid var(--primary-a80);
            transform: translateY(-0.2rem);
            background: var(--primary-a10);
        }
    }
}

@keyframes slide-to-right {
to {
    transform: translateX(1rem);
    opacity: 0;
}
}
@keyframes slide-to-left {
to {
    transform: translateX(-1rem);
    opacity: 0;
}
}

@keyframes slide-from-right {
from {
    transform: translateX(1rem);
    opacity: 0;
}
}

@keyframes slide-from-left {
from {
    transform: translateX(-1rem);
    opacity: 0;
}
}

:active-view-transition-type(item) {
    :root {
        view-transition-name: none;
    }
    .itemAnimation {
        view-transition-class: item;
        view-transition-name: var(--viewTransitionName);
    }
}

:active-view-transition-type(screen) {
    :root {
        view-transition-name: none;
    }
    .screenAnimation {
        view-transition-class: screen;
        view-transition-name: var(--viewTransitionName);
    }

    /* .screen doesn't work for some reason */

    &:active-view-transition-type(left) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 450ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 450ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
        }
    }

    &:active-view-transition-type(right) {
        &::view-transition-old(screen-index),
        &::view-transition-old(screen-contact)
        {
            animation: 450ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
        }
        &::view-transition-new(screen-index),
        &::view-transition-new(screen-contact)
        {
            animation: 450ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
        }
    }
}

.dialog[open] {
    background: none;

    &::backdrop {
        background: #000000a0;
    }
    &:modal {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        padding: 0px;
        overflow-y: auto;
    }
}
.dialogContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .content {
        position: relative;
        width: 60rem;
        max-width: calc(100% - 2rem);

        flex-grow: 1;
        margin: 1rem 0rem;
        border-radius: 1rem;
        overflow: hidden;
        background: white;
        display: flex;
        flex-direction: column;


        & > .longDesc {
            margin: 2rem 2rem;
            font-family: 'Noto Sans';
            display: flex;
            flex-direction: column;
        }
        & > .video {
            aspect-ratio: 16 / 9;
        }

        &.vertical {
            flex-direction: row;
        }
        &.vertical > .video {
            width: unset;
        }
    }

    & > .backdrop {
        cursor: pointer;
        position: fixed;
        inset: 0;
    }
    & > .closeButton {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 3rem;
        & > * {
            top: 1rem;
            position: fixed;
            & > * {
                color: white;
                width: 2rem;
                opacity: 0.8;
            }
        }
    }
}

.contactBody {
    flex-grow: 1;
    background: var(--bg);
    display: flex;
    justify-content: center;
    min-width: max-content;

    & > * {
        //flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 50rem;
        gap: 1rem;

        & > .title {
            font-family: Lato;
            font-size: 1.5rem;
        }
    }
}

.headerLink {
    text-decoration: none;
}
